.searchDropdown {
  .dropdown-group {
    display: none;
    animation-name: fadeOut;
    &.active {
      display: flex;
      background-color: #333;
      padding: 2em;
      position: absolute;
      width: 100%;
      z-index: 10;
      flex-direction: column;
      top: 100%;
      right: 0%;
      animation-name: fadeIn;
      -webkit-animation-name: fadeIn;

      animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;

      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;

      visibility: visible !important;
    }
  }

  .openSearchButton {
    background-color: transparent;
    border: 0px;
    appearance: none;
    padding: 0;
    &:before {
      content: "\F52A";
      font-family: "bootstrap-icons", sans-serif;
      color: #ff227f;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
